<nav class="nav">
    <div class="nav__container container">
        <ul class="nav__list ">
            <li class="nav__item">
                <a href="{% url 'index' %}" class="nav__link">Главная страница</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'about' %}" class="nav__link">О нас</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'blogs:blogs' %}" class="nav__link">Блоги</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'blogs:posts' %}" class="nav__link">Посты</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'app_users:feedback' %}" class="nav__link">Обратная связь</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav__item">
                    <a class="nav__link" href="{% url 'app_users:profile' request.user.id %}">
                        {{ request.user.get_full_name|default:request.user.username }} Личный кабинет
                    </a>
                </li>
                <li class="nav__item">
                    <form action="{% url 'app_users:logout'%}" method="POST">
                        {% csrf_token %}
                        <button class="nav__link" type="submit">Выйти</button>
                    </form>
                </li>
            {% else %}
            <li class="nav__item">
                <a class="nav__link" href="{% url 'app_users:login' %}?next={{request.path}}">Войти</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="{% url 'app_users:sign-up' %}">Зарегистрироваться</a>
            </li>
            {% endif %}
        </ul>
        {% if not request.user.is_authenticated %}
            <span class="nav__info">Для доступа к полному функционалу необходим вход в систему.</span>
        {% endif %}
    </div>
</nav>