
{% extends 'base.html' %}
{% load static %}


{% block title %}{% if blog %}Редактирование Блога{% else %}Новый Блог{% endif %}{% endblock title %}


{% block css %}
{% comment %} <link href="{% static 'css/blog.css' %}" rel="stylesheet"> {% endcomment %}
{% endblock css %}


{% block content %}
<section class="blog">
    <div class="blog__container container">
        <div class="blog__header">
            <h2 class="blog__heading">{% if blog %}Редактирование Блога{% else %}Новый Блог{% endif %}</h2>
            {% if blog %}
                <span class="blog__author">{{ blog.author.get_full_name|default:blog.author }}</span>
                <span class="blog__created">{{ blog.created_at|date:"SHORT_DATE_FORMAT" }}</span>
            {% endif %}
            <a href="{{ blog.get_absolute_url }}" class="blog__link">← Отменить</a>
        </div>
        <div class="blog__content">
            <form action="" class="blog__form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="blog__btn btn btn_send" type="submit">
                    {% if blog %}Сохранить{% else %}Создать{% endif %}
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}