{% extends 'base.html' %}
{% load static %}


{% block title %}Список Блогов{% endblock title %}


{% block css %}
<link href="{% static 'css/pagination.css' %}" rel="stylesheet">
<link href="{% static 'app_blog/css/blogs.css' %}" rel="stylesheet">

{% endblock css %}


{% block content %}
{% comment %} {% if filter_form %}
    {% include 'include/filter.html' %}
{% endif %} {% endcomment %}
<section class="blogs">
    <div class="blogs__container container">
        <div class="blogs__header">
            <h2 class="blogs__heading">Список блогов</h2>
        </div>
        {% include 'include/pagination.html' %}
        <ul class="blogs__list">
            {% for blog in object_list %}
            <li class="blogs__item blog-item">
                <h3 class="blog-item__heading"> <a href="{{ blog.get_absolute_url }}" class="blog-item__link">{{ blog.name }}</a></h3>
                <span class="blog-item__author">{{ blog.author.get_full_name|default:blog.author }}</span>
                <span class="blog-item__created">{{ blog.created_at|date:"SHORT_DATE_FORMAT" }}</span>
                <a href="{{ blog.get_absolute_url }}" class="blog-item__link">⟶</a>
            </li>            
            {% endfor %}
        </ul>
        {% include 'include/pagination.html' %}
    </div>
</section>
{% endblock content %}