{% extends 'base.html' %}
{% load static %}


{% block title %}{% if post %}Редактирование поста{% else %}Новый пост{% endif %}{% endblock title %}


{% block css %}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock css %}


{% block content %}
<section class="post">
    <div class="post__container container">
        <div class="post__header">
            <h2 class="post__heading">{% if post %}Редактирование поста{% else %}Новый пост{% endif %}</h2>
            {% if post %}
                <span class="post__author">{{ post.blog.author.get_full_name|default:post.blog.author }}</span>
                <span class="post__created">{{ post.created_at|date:"SHORT_DATE_FORMAT" }}</span>
                <a href="{{ post.blog.get_absolute_url }}" class="post__link">← к блогу</a>
            {% endif %}
        </div>
        <div class="post__content">
            <form class="blog__form form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include "widgets/_custom-form.html" %}
                <div class="form__btn-block">
                    <button class="form__btn btn btn_reset" type="submit">{% if post %}Сохранить{% else %}Создать{% endif %}</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}